<?xml version="1.0" encoding="UTF-8" ?>
<suite name="test">
    <test name="这是我的测试套件">
        <classes>
            <class name="com.tester.extend.demo.TestMethod">
                <methods>
                    <include name="test1" />
                    <include name="test2" />
                    <include name="logDemo" />
                </methods>
            </class>
            <class name="com.tester.extend.demo.TestPost">
                <methods>
                    <include name="test10" />
                    <include name="test11" />
                </methods>
            </class>
            <class name="com.course.testng.suite.LoginTest">
                <methods>
                    <include name="testcase0001" />
                    <include name="testcase0002" />
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <!--
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter" />
        -->
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener" />
    </listeners>
</suite>